@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

h1 {
  font-family: 'Rock Salt', sans-serif;
}

#displayArea {
  background-color: #1a1a1d;
  color: #fff;
  height: 500px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

#text {
  font-size: 4em;
  font-family: 'Century Gothic', sans-serif;
  margin-top: 50px;
}
