@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
/*header*/
h1 {
  margin-top: 15px;
  font-family: 'Rock Salt', sans-serif;
}
/*where main photo is displayed*/
#displayArea {
  height: 420px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}
/*container for main photo*/
#photo {
  display: flex;
  justify-content: center;
}
/*actual sizing and styling of main photo*/
#main-photo {
  margin-top: 15px;
  height: 350px;
  width: 350px;
  border: 1px solid #fff;
  border-radius: 12px;
  box-shadow: 10px 10px 5px grey;
}
/*container for thumbnail photos*/
#thumbnails {
  display: flex;
  justify-content: center;
}
/*thumbnail photos*/
#one, #two, #three, #four{
  margin: 5px;
  border-radius: 12px;
  height: 100px;
  width: 100px;
  border: 1px solid #000;
}
